<div class="form-group">
  <%= form.hidden_field :organization_id, value: current_user.organization_id %>
</div>
<div class="form-group">
  <label>Name</label>
   <%= form.text_field :name, class: 'form-control'  %>
</div>
<div class="form-group">
  <label for="">Labels</label>
  <%= form.text_area :labels, rows: 10, placeholder: "doughnut\r\ncupcake\r\ncroissant\r\ncookie\r\nmuffin\r\nhotdog\r\nnot-hotdog", class: 'form-control'  %>
  <small class="text-muted">These labels will return from the prediction model. For best results, include at least 5 labels: <a href="http://cs231n.github.io/linear-classify/#softmax">softmax</a> layer is applied to the labels.</small>
</div>
<%= form.submit "Submit", class: "btn btn-primary" %>
