<div class="row">
		<h1>Classifier <%= @classifier.name %></h1>
    <%= link_to "Delete", account_classifier_path(classifier), method: :delete,
      data: { confirm: "Are you sure?" } , class: "btn btn-sm btn-danger" %>
</div>
