<% unless notice.blank? %>
  <p class="alert alert-primary" style="margin: 0"><%= notice %></p>
<% end %>
<% unless alert.blank? %>
  <p class="alert alert-danger" style="margin: 0><%= alert %></p>
<% end %>
