<footer class="pg-footer text-muted">
  <div class="container">
    <ul class="pg-footer-links">
      <li><a href="/guides/">Guides</a></li>
      <li><a href="/terms">Terms</a></li>
    </ul>
    <p>&copy; patterngap</p>
  </div>
</footer>
