<main class="hero" id="content">
  <div class="container">
    <h1>Object Detection and Classification</h1>
    <h2>Your labels, your data, your models</h2>
    <button class="btn btn-primary">Register</button>
  </div>
</main>
<div class="container">
  <div class="row" style="padding-top: 20px;">
    <div calss="col-sm-12">
      <h1>Get started in minutes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="slug">
      </div>
    </div>
    <div class="col-sm-6">

      <h3>1. Define your labels</h3>

      <h3>2. Upload content</h3>
      <p>TIP: Recording content from a camera phone is quick and easy!</p>

      <h3>3. Run the classifier</h3>
      <p> Download your Tensorflow and CoreML models and integrate them into your application</p>
      <p> Check out our integration guides for links to helpful tutorials </p>
      <div class="btn btn-warning">Check out the React Native guide</div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Android and iOS models with Pattern Gap</h3>
      <p>With <a href="#">Tensorflow</a> and <a href="#">CoreML</a>, any app developer can deploy a machine learning algorithm
      powered by the supercomputer your customers already trust: their mobile phone.
      Pattern Gap enables you to upload a training and validation set of images and videos
      based on your application’s needs.
      </p>
    </div>
  </div>
</div>
