<p class="lead">

Get your custom Android and iOS image classifier for less than a hipster latte. <Starting at $4.95>

1. Define your labels
2. Upload corresponding images & videos for each label
3. Download Tensorflow & CoreML models

Using React Native? Follow our integration guide and get up and running in minutes.
</p>
