<p class="lead">
Custom Android and iOS image classifier for $4.99.
</p>

<ul style="text-align: left">
  <li>1. Define your labels</li>
  <li>2. Upload corresponding images & videos for each label</li>
<li>3. Download Tensorflow & CoreML models</li>
</ul>

<div class="btn btn-warning">iOS + React Native? add your model in minutes!</div>
