<main class="hero" id="content">
  <div class="container">
    <h1>Object Detection and Classification</h1>
    <h2>Your model, Your labels, your data</h2>
    <button class="btn btn-primary">Create Your First ML Model »</button>
  </div>
</main>
<div class="container">
  <div class="row marketing-lead">
    <div class="col-sm-7">
      <h3>Create your own Android and iOS models</h3>
      <p>With <a href="#">Tensorflow</a> and <a href="#">CoreML</a>, any app developer can deploy a machine learning algorithm
      powered by the supercomputer your customers already trust: their mobile phone.
      Pattern Gap enables you to upload a training and validation set of images and videos
      based on your application’s needs.
      </p>
      <div class="slug" style="height: 600px;"></div>
    </div>
    <div class="col-sm-5">

			<div class="card">
				<img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title">Start with your labels </h4>
					<p class="card-text">Recording content from a camera phone is effective and quick!</p>
				</div>
			</div>

      <div class="card">
				<img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title">Now add your content</h4>
					<p class="card-text">Recording content from a camera phone is effective and quick!</p>
				</div>
			</div>

      <div class="card">
				<img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title">Download models</h4>
          <p class="card-text">
            Let Patterngap generate Tensorflow and CoreML models and integrate them into your application.
            <button class="btn btn-sm btn-primary">See the React Native integration guide</button>

          </p>
				</div>
			</div>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
    </div>
  </div>
</div>
