
@import "bootstrap/functions";
@import "bootstrap_variables";
@import "bootstrap/mixins";

/*
 * Globals
 */

$darkPurple: #331338;
/* Links */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color:#f7f7f7
}
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  display: table;
  background-color: #FAFAFA;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/*
 * Header
 */
.masthead-brand {
  margin-bottom: 0;
  a { color: #FFF; }
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-size: $font-size-sm;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


.masthead {
  background: $darkPurple;
  .masthead-brand {
    font-family: 'Medula One', cursive;
    font-size: 24px;
    color: #FFF;
    letter-spacing: 2px;
  }
}

.hero {
  width: 100%;
  background: #4A1D54;
  color: #FFF;
  padding-top: 30px;
  height: 250px;
  border-top: 1px solid #222;
  border-bottom: 2px solid #222;
}
.slug {
  background: #F0F0F0;
  width: 100%;
  border: 1px solid #AEAEAE;
  border-radius: 5px;
  padding: 10px;
}
.marketing-lead {
  padding-top: 60px;
	.card {
	  margin: 0 0 1rem 0;
	}
  .card-block {
    padding: 1rem;
  }
  h3 {
    line-height: 3rem;
  }
}
/* form-container */
.form-container {
  max-width: 500px;
  margin: 5rem auto;
}

/* footer */
.pg-footer{
  padding:4rem 0;
  margin-top:4rem;
  font-size:85%;
  text-align:center;
  background-color:#f7f7f7
}
.pg-footer a{
  font-weight:500;
  color:#464a4c
}
.pg-footer a:hover{
  color:#0275d8
}
.pg-footer p{ margin-bottom:0 }
@media (min-width:576px){
  .pg-footer{text-align:left}
}
.pg-footer-links {
  padding-left:0;
  margin-bottom:1rem;
}
.pg-footer-links li {
  display:inline-block;
}
.pg-footer-links li+li{
  margin-left:1rem;
}
.bd-content {
  overflow: hidden;
  padding: 0 1rem;
  height: 100%;
  width: 100%;
}
.bd-content-page {
  height: 100%;
  overflow: scroll;
}
.bd-content-wrap {
  height: 100%;
}
.bd-content-row {
  height: 100%;
}

/* scroll */

.main-container {
  height: calc(100% - 54px);
  overflow: auto;
}

.bd-content-scroll {
  overflow: scroll;
  height: 100%;
  padding-bottom: 300px;
}
.build-cards {
  overflow: scroll;
  height: 100%;
  padding-bottom: 300px;
}

/* job card */
.job-card {
  margin: 0.4rem 0;
  color: $dark;
  &:hover {
    text-decoration: none;
  }
  &.job-card-highlighted {
    background: lighten(desaturate($purple, 50%), 20%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    .status-completed {
      background: desaturate($green, 20%) !important;
    }
  }
  .status {
    border-radius: 1rem;
    background: $gray-400;
    font-size: $font-size-xs;
    color: $white;
    width: 100%;
    display: block;
    text-transform: uppercase;
    padding: 0.2rem;
    &.status-completed {
    }
    &.status-queued {
      background: $gray-500;
    }
    &.status-started {
      background: $orange;
    }
  }
  .card-footer {
    border-top: 0px;
    background: $white;
  }
}

/* build-bar */
.build-bar {
  background: lighten(desaturate($darkPurple, 45%), 10%);
  margin: 0;
  padding: 0;
  position: sticky;
  height: calc(100%);
  overflow: scroll;
  .list-group  {
    padding-left: 0;
    margin: 0;
    border-radius: 0;
    .list-group-item {
      border-radius: 0;
      padding: 0.4rem 0.4rem 0.2rem 0.8rem;
      &:hover {
        background: lighten(desaturate($darkPurple, 25%), 70%);
      }
      small {
        color: #AAA;
      }
    }
  }
  .mb-1 {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #333;
  }
  .notch {
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    float: left;
  }
  .build-bar-title {
    padding: 0.2rem 0 0.2rem 0.8rem;
    font-size: 0.8rem;
    border-bottom: 1px solid #333;
    color: #ccc;
    margin: 0;
  }
  .build-bar-subtitle {
    padding: 0.4rem;
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
    background: lighten($darkPurple, 20%);
    color: $white;
    border-bottom: 1px solid $white;
  }
  ul {
    padding-left: 0.4rem;
  }
}

/* breadcrumb */
ol.breadcrumb li a {
	color: darken(theme-color("secondary"), 10%);
}

/* file upload */
/*
 * jQuery File Upload Plugin CSS
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * https://opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
