<div class="row">
  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h2>Jobs</h2>
    <%=  link_to "Classify ", account_classifier_jobs_path(@classifier), { method: :post, class: "btn btn-primary" } %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Started At</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @classifier.classification_jobs.each do |job| %>
            <tr>
              <td><%= job.id %></td>
              <td><%= job.created_at %></td>
              <td><%= job.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </main>
</div>
