
<!DOCTYPE html>
<html>
  <head>
    <title>Patterngap</title>
    <%= render partial: "shared/head_section_public" %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <header class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><a href="/">patterngap</a></h3>
            <nav class="nav nav-masthead">
              <a class="nav-link" href="/">Home</a>
            </nav>
          </div>
        </header>

        <main role="main" class="inner cover">
          <div class="form-container">
            <%= render partial: "shared/alerts" %>
            <%= yield %>
          </div>
        </main>

      </div>

    </div>
    <%= render partial: "shared/footer_public" %>
  </body>
</html>

