
<!DOCTYPE html>
<html>
  <head>
    <title>CoreML and Tensorflow Image Classification with Pattern Gap</title>
    <%= render partial: "shared/head_section_public" %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <header class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><a href="/">patterngap</a></h3>
            <nav class="nav nav-masthead">
              <a class="nav-link active" href="#">Home</a>
              <a class="nav-link" href="/users/sign_up">Sign Up</a>
              <a class="nav-link" href="/users/sign_in" >Sign In</a>
            </nav>
          </div>
        </header>
        <div>
          <%= render partial: "shared/alerts" %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render partial: "shared/footer_public" %>
  </body>
</html>

